
/* ------------------ Class ---------------- */
*{
    margin:0; padding:0;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none; border:none;
    transition: .2s linear
}

section{
    padding:2rem 9%;
}

.home{
    display:flex;
    align-items:center;
    min-height: 100vh;
    background: url(./img/bgimage.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h1{
    font-size:11rem;
    line-height: 0.9;
    color: #000000;
}

.home .content h6{ 
    font-size:3rem;
    color:rgb(255, 255, 255);
    padding:1rem 0;
    font-weight: 200
}

.nb-background-color{   /*navbar background color*/
    background-color: black;
    opacity: 90%
}

.nbMenuItem{            /*navbar link text properties*/
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    color: #FFFFFF;
}

.ovPadRight{
    padding-right: 20px;
}

.ovPadLeft{
    padding-left: 20px;
}

p, li{
    font-size: 20px !important;
}

.nav-item{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.navbar ul {
    list-style: none;
    text-align: center;
 }
 
 .navbar ul li {
    display: inline-block;
    margin: 0;
    padding: 0
 }

/* --------------------- ID ---------------------*/



/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}