
/* ------------------ Class ---------------- */
*{
    margin:0; 
    padding:0;
    box-sizing:border-box;
    font-family: 'DM Sans', sans-serif;
    outline: none; border:none;
    transition: .2s linear
}

.conatainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    display: flex;
}

.image-item {
    width: 150px;
    height: 400px;
    background-image: url(./img/sun.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.4s;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin: 1rem;
}

section{
    padding:2rem 9%;
}

.home{
    display:flex;
    min-height: 665px;
    align-items:center;
    background: url(./img/bgimage.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 88vh;
}

.home .content{
    max-width: 50rem;
}

.home .content h1{
    font-size: 9.5rem;
    line-height: 0.9;
    color: #000000;
    font-weight: 600;
    letter-spacing: 14px;
    position: relative;
    padding-top: 1;
}

.home .content h6{ 
    font-size:2.5rem;
    color:rgb(255, 255, 255);
    padding:1rem 0;
    font-weight: 350
}

.nb-background-color{   /*navbar background color*/
    background-color: black;
    opacity: 100%
}

.nbMenuItem{            /*navbar link text properties*/
    font-size:1.5rem;
    font-weight: thinner;
    margin-left: 10px;
    margin-right: 10px;
    color: #FFFFFF;
    
.nav ul {
   list-style: none;
   text-align: center;
}

.nav ul li {
   display: inline-block;
}
}

.ovPadRight{
    padding-right: 20px;
}

.ovPadLeft{
    padding-left: 20px;
}

p, li{
    font-size: 20px !important;
}

.nav-item{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.navbar ul {
    list-style: none;
    text-align: center;
 }
 
 .navbar ul li {
    display: inline-block;
    margin: 0;
    padding: 0
 }

/* --------------------- ID ---------------------*/



/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

.navbar-nav {
    left: 0;
    top: 50%;
    text-align: center;
    display: block;
    list-style-type: none;
    background: black;
    height: 75px; 

  li {
    display: inline-block;
    height: 100%;
  }
  li a {
    display: inline-block;
    color: white;
    background: lightgray;
    line-height: 75px; 
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    margin: 0;
    height: 100%;
  }
  
}